/*Farbkonstanten*/
*{
    -fx-brightest:#9BF7FA;
    -fx-bright: #48DBE0;
    -fx-medium: #38AAAD;
    -fx-dark: #1F5F61;
    -fx-darkest: #3D6061;

    -fx-grey1: #999999;
    -fx-grey2: #666666;
    -fx-grey3: #1A1A1A;
    -fx-grey4: #000000;

    -fx-lightBorders:#d4d4d4;
}


/* MainView */

#AddListBtn{
    -fx-background-image: url("../Resources/hinzufugen.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20 20;
    -fx-background-position: center center;
    -fx-border: none;
    -fx-background-color: -fx-medium;

    -fx-pref-height: 25;
    -fx-pref-width: 25;
}

#AddListBtn:hover{
    -fx-background-color: -fx-dark;
}

#SettingsBtn{
    -fx-background-image: url("../Resources/settings.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20 20;
    -fx-background-position: 20% center;
    -fx-border: none;
}

#StatisticsBtn{
    -fx-background-image: url("../Resources/statistic.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20 20;
    -fx-background-position: 20% center;
    -fx-border: none;
}



/* NewGroupView */



/* NewTaskView */



/* ReminderView*/

#CheckOffReminderBtn{
    -fx-background-image: url("../Resources/check.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20 20;
    -fx-background-position: center center;
    -fx-border: none;
    -fx-background-color: -fx-medium;

    -fx-pref-height: 25;
    -fx-pref-width: 25;
}

#CheckOffReminderBtn:hover{
    -fx-background-color: -fx-dark;
}

#ConfirmReReminderBtn{
    -fx-background-image: url("../Resources/rotation.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20 20;
    -fx-background-position: center center;
    -fx-border: none;
    -fx-background-color: -fx-grey1;

    -fx-pref-height: 25;
    -fx-pref-width: 25;
}

#ConfirmReReminderBtn:hover{
    -fx-background-color: -fx-grey2;
}


/* StatisticsView */

.Statisticblock{
    -fx-border-style: solid;
    -fx-border-color: -fx-medium;
}

/* SettingsView */

#MsgSendLabel{

}

/* Allgemeine Style Klassen*/

.BlueBtn{
    -fx-background-color: -fx-medium;
}

.BlueBtn:hover{
    -fx-background-color: -fx-dark;
}

.GreyBtn{
    -fx-background-color: -fx-grey1;
}

.GreyBtn:hover{
    -fx-background-color: -fx-grey2;
}

.MenuBtn{
    -fx-background-color: -fx-grey1;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color:-fx-lightBorders;
}

.MenuBtn:hover{
    -fx-background-color: -fx-grey2;
}



.Focused:focused{
    -fx-border-color: -fx-bright;
}
.noFocus{
    -fx-focus-color: -fx-bright;

}

